@font-face {
    font-family: 'Martyric Personal Use Only';
    src: url('MartyricPersonalUseOnly.woff2') format('woff2'),
        url('MartyricPersonalUseOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

